<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- ... -->
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
</head>
<h1>Home page</h1>
<body>

{{ form_start(form) }}
<div class="form">
    <div class="select2" id="start">
    <select>
        {{ form_row(form.name) }}
    </select>
        w
    <select>
        {% include 'maps.html.twig' %}
    </select>
    </div>
</div>
<select class="hidden" id="type" name="type">
    <option value="1"></option>
</select>
<select class="hidden" name="city"></select>
<div class="button-search">
    {{ form_row(form.search, { 'label': 'Search' }) }}
</div>

{{ form_end(form) }}

<div class="button-search">
    {{ form_row(form.search, { 'label': 'Search' }) }}
</div>


<script src="{{ asset('build/app.js') }}"></script>
</body>
</html>