{% extends 'base.html.twig' %}
    {% block content %}
        <div class="content">
            <div class="content-header">
                <div>Header</div>
            </div>
            {{ form_start(form) }}
            <div class="content-content">
                <div class="register-form">
                    <div class="username" onkeyup="checkEmail()">
                        Username : {{ form_widget(form.username) }}
                    </div>
                    <div class="password" onkeyup="checkPassword()">
                        Password : {{ form_widget(form.password) }}
                    </div>
                </div>
            </div>
            <div class="content-button">
                <div class="button">
                    <span onClick="registerUser()"> {{ form_widget(form.submit)}} </span>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    {% endblock content%}
    {% block javascripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
        <script>
            let usernameValid = 0;
            let passwordValid = 0;

            const checkEmail = () => {
                const username = $('#form_username').val();
                const regexEmail = /[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/;
                const checkRegexEmail = () => regexEmail.test(username);
                if(checkRegexEmail(username)) {
                    $.ajax({
                        url: "/checkUsernameAvaibility",
                        type: "post",
                        data: { username : username },
                        success: function(response) {
                            if(response == 1) {
                                usernameValid = 1;
                                activateButton();
                                if($('.username .emailError')) {
                                    $('.username .emailError').remove();
                                }
                            } else if(response == 0) {
                                usernameValid = 0;
                                activateButton();
                                const message = '<div class="emailError">This email is registered. <a href="#">May you reset password?</a></div>';
                                if($('.username .emailError').length == 0) {
                                    $('.username').append(message);
                                }
                            }
                        }
                    })
                }
            };

            const checkPassword = () => {
                const password = $('#form_password').val();
                if(password.length > 7) {
                    passwordValid = 1;
                    activateButton();
                } else if(password.length < 7){
                    passwordValid = 0;
                    activateButton();
                }
            };

            const activateButton = () => {
                if(usernameValid && passwordValid) {
                    $("#form_submit").attr("disabled", false);
                } else if (!usernameValid || !passwordValid){
                    $("#form_submit").attr("disabled", true);
                }
            };

            const registerUser = () => {
                const username = $('#form_username').val();
                const password = $('#form_password').val();
                $.ajax({
                    url: "/registerUser",
                    type: "post",
                    data : { username : username, password : password },
                    success: function(response) {
                        if(response == 1) {
                            window.location.href = '/';
                        } else if(response == 0) {
                            alert('Error. Please contact us');
                        }
                    }
                });
            };
        </script>
    {% endblock javascripts %}