{% extends 'base.html.twig' %}
    {% block content %}
        <div class="content">
            <div class="content-header">
                <div>Header</div>
            </div>
            {{ form_start(form) }}
            <div class="content-content">
                <div class="register-form">
                    <div class="username" onfocusout="activateButton()" onkeyup="checkUsernameAvaibility()">
                        Username : {{ form_widget(form.username) }}
                    </div>
                    <div class="password" onkeyup="activateButton()">
                        Password : {{ form_widget(form.password) }}
                    </div>
                </div>
            </div>
            <div class="content-button">
                <div class="button">
                    <span onClick="registerUser()"> {{ form_widget(form.submit)}} </span>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    {% endblock content%}
    {% block javascripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
        <script>

            let username = false;

            const checkUsernameAvaibility = () => {

                 if(validateUsername()) {
                     const usernameValid = validateUsername();
                     $.ajax({
                         url: "/checkUsernameAvaibility",
                         type: "post",
                         data: { username : usernameValid },
                         success: function() {
                             const message = '<div class="emailError">This email is registered. <a href="#">May you reset password?</a></div>';
                             if($('.username .emailError').length == 0) {
                                 $('.username').append(message);
                                 username = false;
                             }
                         },
                         error: function(){
                             if($('.username .emailError')) {
                                 $('.username .emailError').remove();
                                 username = true;
                             }
                         }
                     })
                 }
            };


            const validateUsername = () => {
                let username = $('#form_username').val();
                const checkLength = (username) => username.length;
                const regexEmail = /[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/;
                const checkRegexEmail = (username) => regexEmail.test(username);
                if( checkLength(username) > 4 && checkRegexEmail(username)) {
                    return username;
                }
                return username = '';
            };

            const registerUser = () => {
                const username = $('#form_username').val();
                const password = $('#form_password').val();
                $.ajax({
                    url: "/registerUser",
                    type: "post",
                    data : { username : username, password : password },
                });
            };


            const activateButton = () => {
                const passwordLength = $('#form_password').val().length;
                if (passwordLength > 8 && username) {
                    $('#form_submit').attr("disabled", false);
                } else if (!username) {
                    console.log('please check email');
                }
            }


        </script>
    {% endblock javascripts %}