{% extends '/base.html.twig' %}
    {% block content %}
        <div class="content">
            {% include '/service/header.html.twig' %}
            {{ form_start(form) }}
            <div class="content-content">
                <div class="register-form">
                    <div class="username">
                        Email : {{ form_widget(form.username) }}
                    </div>
                    <div class="password">
                        Password : {{ form_widget(form.password) }}
                    </div>
                </div>
            </div>
            <div class="content-button">
                <div class="button">
                    <span onClick="loginUser()"> {{ form_widget(form.submit)}} </span>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    {% endblock content%}

