{% extends '/base.html.twig' %}
    {% block content %}
        <div class="content">
            {% include '/service/header.html.twig' %}
            {{ form_start(form) }}
            <div class="content-content">
                <div class="register-form">
                    <div class="username">
                        Email : {{ form_widget(form.username) }}
                    </div>
                    <div class="password">
                        Password : {{ form_widget(form.password) }}
                    </div>
                </div>
            </div>
            <div class="content-button">
                <div class="button">
                    <span onClick="loginUser()"> {{ form_widget(form.submit)}} </span>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    {% endblock content%}
    {% block javascripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
        <script>
            const loginUser = () => {
                const username = $('#form_username').val();
                const password = $('#form_password').val();
                $.ajax({
                    url: "/loginUser",
                    type: "post",
                    data : { username : username, password : password},
                    success: function(response) {
                        if(response == 1) {
                            window.location.href = '/';
                        }
                        if(response == 2) {
                            window.location.href = '/admin';
                        }
                    }
                })
            }
            $('form').keydown(function (event) {
                var keypressed = event.keyCode || event.which;
                if (keypressed == 13) {
                    loginUser();
                }
            });

            let usernameValid = 0;
            let passwordValid = 0;

            const checkEmail = () => {
                const username = $('#form_username').val();
                const regexEmail = /[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/;
                const checkRegexEmail = () => regexEmail.test(username);
                if(checkRegexEmail(username)) {
                    activateButtonEmail();
                }
            };

            const checkPassword = () => {
                const password = $('#form_password').val();
                if(password.length > 7) {
                    passwordValid = 1;
                    activateButtonPassword();
                } else if(password.length < 7){
                    passwordValid = 0;
                    activateButtonPassword();
                }
            };

            const activateButtonEmail = () => {
                if(usernameValid) {
                    $("#form_submit").attr("disabled", false);
                } else if (!usernameValid){
                    $("#form_submit").attr("disabled", true);
                }
            };

            const activateButtonPassword = () => {
                const usernameValid = 1;
                if(usernameValid && passwordValid) {
                    $("#form_submit").attr("disabled", false);
                } else if (!usernameValid || !passwordValid){
                    $("#form_submit").attr("disabled", true);
                }
            };

        </script>
    {% endblock javascripts %}

