{% extends '/base.html.twig' %}
    {% block content %}
        <div class="content">
            {% include '/service/header.html.twig' %}
            {#{{ form_start(form) }}#}
            <div class="content-content">
                <div class="register-form">
                    {% if username is not defined %}
                    <div class="username" onkeyup="checkEmail()">
                        Email : {{ form_widget(form.username) }}
                    </div>
                    {% endif %}
                    {% if username is defined %}
                    <div class="username" onkeyup="checkEmail()">
                        Email : {{ form_widget(form.username, { 'attr': { 'readonly': 'true', 'value': username } }) }}
                    </div>
                    <div class="password" onkeyup="checkPassword()">
                        Password : {{ form_widget(form.password) }}
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="content-button">
                {% if username is not defined %}
                    <div class="button">
                        <span onClick="sendRegistrationMail()"> {{ form_widget(form.submit)}} </span>
                    </div>
                {% endif %}
                {% if username is defined %}
                    <div class="button">
                        <span onClick="registerUser()"> {{ form_widget(form.submit)}} </span>
                    </div>
                {% endif %}
            </div>
            {#{{ form_end(form) }}#}
        </div>
    {% endblock content%}